body {
  font-family : Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  min-height: 100vh;
}

.header {
    height: 90px;

    /* Center title */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    background-color: #1b1f8a10;
    box-shadow: 0px 0px 8px #0003;
    position: relative;
    z-index: 6;

    font-family: 'Cormorant Garamond', serif;
}

.settings-bar {
    background-color: #1b1f8a10;
    box-shadow: 0px -1px 3px #0002;
    position: relative;
    z-index: 6;
    padding: 0.25em;
}

#title {
    text-align: center;
    font-size: 2em;
    color: #070767;
}

#logos {
  opacity: 0.8;
  z-index: 4;
  position: absolute;
  top: 5px;
  right: 0;
}

.resizeable {
    display: flex;
    width: 100%;
}

#resizer {
    width: 0.75em;
    background-color: #ddd;
    overflow: visible;
    position: relative;
    text-align: center;
    vertical-align: middle;
    z-index: 4;

    box-shadow: 0px 0px 8px #0003;
}

#resizer::after {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.3em;
    border-radius: 1.5em;
    background-color: #eee;
    color: #444;
    border: solid 5px #ddd;
    content: '‹ ›';
    position: absolute;
    top: 50%;
    left: -0.625em;
    z-index: 5;

    box-shadow: 0px 0px 8px #0003;
}

#editor {
    margin: 0;
    position: relative;
    height: 50vw;
    padding-top: 0.5em;
    box-sizing: border-box;
    flex: 1 1 0%;
}

#geoptic-panel {
    position:relative; /* needed to place child panels relative to this one */
    width: 49vw;
    height: 50vw;
    box-sizing: border-box;
    margin: 0;
    z-index: 2;
}

@media only screen and (max-width: 800px)  {
    .resizeable {
        flex-direction: column-reverse;
    }
    #resizer {
        display: none;
    }
    #editor {
        height: 50vw;
        width: 100%;
        flex: 0 1 auto;
    }
    #geoptic-panel {
        height: 50vw;

        /* js sets width in two-column mode. Use !important
         * to override that in single-column mode */
        width: 100% !important;
    }

    .header {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
    }
    #title {
        font-size: 1.5em;
        display: inline-block;
        margin: 0;
        flex: 0 1 100%;
    }

    #logos {
        display: inline-block;
        position: static;
    }

    body {
        /* Force vertical scroll bar to show up on mobile
         * Otherwise I sometimes got stuck weirdly. */
        height: 150vh;
    }
}

.settings-bar div{
    margin-left: 2em;
    display: inline-block;
}

/* move geoptic structure gui to bottom of div */
#structure-gui {
    bottom: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 1.2em !important;
    box-sizing: border-box;
}

/* hide geoptic gui */
#command-gui {
    display: none !important;
}

/* Hide geoptic message box. It interferes with clicks sometimes */
#messages {
    display: none;
}
